/*! Place your custom styles here */

.imagebg {
    background-image: url("/img/bg-image-min.png") !important;
    background-color: aquamarine !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.box-gempa {
    background-color: black;
    opacity: 50%;
    padding: 20px;
    border-radius: 20px;
    margin-right: 18px;
}

.cover-gambar {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}

.swiper-slide {}
